.App {
  text-align: center;
  padding: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiButtonBase-root-27.Button {
  margin: 0 10px;
}

hr {
  margin: 42px 0 8px;
  border-top: 2px dashed orange;
}

.parameter-wrapper {
  display: grid;
  grid-template-rows: repeat(7, 70px);
  grid-template-columns: 50% 50%;
  margin-bottom: 30px;
}

.parameter-wrapper .MuiFormControl-root-30 {
  margin: 10px;
}
