.parameter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
}

@media (max-width: 967px) {
  .parameter-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 667px) {
  .parameter-wrapper {
    grid-template-columns: 1fr;
  }
}

.form-button-wrapper {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 613px) {
  .form-button-wrapper {
    flex-direction: column;
  }
}

.positiveResult {
  font-weight: 500;
  color: red;
}

.negativeResult {
  font-weight: 500;
  color: green
}
